*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
div::-webkit-scrollbar {
    height: .5rem;
}
div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
nav{
    width: 100%;
    height: 100vh;
    background-image: url('img-vr/virtual.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12%;
}
nav .main span{
    font-size: 4em;
    color: rgb(0, 255, 0);
    letter-spacing: -.3em;
    font-weight: bold;
}
nav .container a{
    color: rgb(202, 192, 192);
    text-decoration: none;
    font-size: 1.8em;
    margin-left: 1.5em;
}
nav .container a:hover{
    color: rgb(255, 255, 255);
    text-decoration: overline;
}
nav .signup a{
    color: rgb(68, 193, 68);
    text-decoration: none;
    font-size: 1.8em;
    border: .1em solid #00ff00;
    padding: .4em .9em;
    border-radius: .3em;
}
nav .signup a:hover{
    color: rgb(64, 251, 64);
    text-decoration: overline;
}
nav .main2{
    width: 85%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
nav .main2 p:first-child{
    font-size: 7em;
    color: aliceblue;

}
nav .main2 p:first-child span{
    color: #00ff00;
}
nav .main2 p:nth-child(2){
    color: rgb(220, 225, 228);
    font-size: 1.7em;
    margin: 1em 0 3em 0;
}
nav .main2 button:nth-child(3){
    background-color: #00ff00;
    border-radius: .7em;
    border: none;
    padding: 1.1em 1.8em;
    font-weight: 800;
    font-size: 1.5em;
    cursor: pointer;
}
nav .main2 button:nth-child(3):hover{
transform: scale(1.05);
color: white;
}
.first-sec{
    width: 100%;
    height: 80em;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-sec > div:first-child{
    width: 85%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-sec > div:first-child p{
    color: rgb(227, 223, 223);
    font-size: 5.5em;
    text-align: center;
    word-spacing: .3em;
}
.first-sec > div:first-child p span{
    color: rgb(0, 255, 0);
}
.first-sec > div:nth-child(2){
    width: 85%;
    height: 70%;
    border-radius: 1em;
    border: .1em solid white;
    box-shadow: 0em 0em 1em white inset;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.first-sec > div:nth-child(2) > div{
    width: 100%;
    height: 50%;
    display: flex;
    padding: 1em;
}
.first-sec > div:nth-child(2) > div div{
width: 25%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.first-sec > div:nth-child(2) > div div:hover{
    border: .1em solid rgb(207, 206, 206);
    border-radius: .5em;
}
.first-sec > div:nth-child(2) > div div i{
    color: #00ff00;
    font-size: 6em;
    margin-bottom: 1em;
}
.first-sec > div:nth-child(2) > div div p{
    color: rgb(203, 201, 198);
    font-size: 2em;
}
.second-sec{
    width: 100%;
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.second-sec > div{
    width: 85%;
    height: 25em;
    background-color: #00ff00;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.second-sec > div p{
    font-size: 4.5em;
    color: black;   
}
.second-sec > div span{
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin: 1em 0 2em 0;   
}
.second-sec > div button{
    background-color: black;
    color: white;
    border-radius: .5em;
    border: none;
    padding: 1.1em 1.8em;
    font-weight: 800;
    font-size: 1.5em;
    cursor: pointer;
}
.second-sec > div button:hover{
    color: #00ff00;
    transform: scale(1.05);
}
.end{
    width: 100%;
    height: 5em;
    background-color: black;
    color: white;
    padding: 1em;
    font-size: 1.5em;
}
.end hr{
    margin-bottom: .5em;
}

@media (max-width:600px){
    html{
        font-size: 4px;
    }
    nav{
        height: 50vh;
        background-size: 100% 100%;
    }
}
@media (min-width:600px) and (max-width:800px){
    html{
        font-size: 6px;
    }
    nav{
        height: 60vh;
        background-size: 100% 100%;
    }
}
@media (min-width:800px) and (max-width:1000px){
    html{
        font-size: 7.5px;
    }
    nav{
        height: 75vh;
        background-size: 100% 100%;
    }
}
@media (min-width:1500px) and (max-width:2000px){
    html{
        font-size: 13px;
    }
    nav{
        height: 100vh;
        background-size: 100% 100%;
    }
}